@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
	margin: 0;
	font-family: 'Fira Sans', sans-serif;
}

.content-wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding-bottom: 25px
}
